table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #dcdcdc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #1a1e49;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
}

button {
  padding: 6px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: rgb(10, 57, 30);
}

button:hover {
  background-color: #3823d4;
}

.selected-row {
  background-color: #2b364a;
}